body,
body *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

.backg{
    background: url(./images/back.png);
      background-image: linear-gradient(rgba(45, 110, 112, 0.9),rgba(45, 110, 112, 0.9));
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 36px 0 0 0;
    font-family: 'Montserrat';

}
#nav-icon1 span{
    display: none;
}

.stick{
    
    border: 1px solid #fff;
    opacity: 0.3;
    width: 1px;
    height: 20px;
    margin: 0px 10px;
}


.logo{
    display: flex;
    padding-top: 4px;
}

.navbar{
display: flex;
}

.navbar li{
    padding: 5px 15px;
    font-size: 13px;
}

.navbar li:hover{
    border: 0px solid transparent;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.3);
}

.welcom{
   width: 69%;
   margin: 246px  auto;
   font-size: 16px;
   font-family: 'Roboto';
   color: white;
}
.welcom p{
    width: 38%;
    line-height: 22px;
}
.welcom h1{
    font-size: 38px;
    padding-bottom: 13px;
}

.welcom button{
    margin-top: 15px;
    border:1px solid transparent;
    height: 51px;
    width: 187px;
    background: #6FB048;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
}
.feature h2{
margin-top: 94px;
font-size: 32px;
font-family: 'Roboto';
color: #0F5F5C;
text-align: center;
}

.dash{
    width: 66px;
    height: 3px;
    background: #6FB048;
    margin: 19px auto;
}

.feature p{
    width: 468px;
    height: 36px;
    font-size: 15px;
    font-family: 'Roboto';
color: #83A7A5;
font-weight: 600;
padding: 0 10px;
line-height: 20px;
margin: auto;
text-align: center;
}

.feat{
    border: 1px solid transparent;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 69px;
}
.photoshop img{
    margin-top: 10px;
}


.ion{
    margin-top: 19px;

    border: 1px solid transparent;
    width: 266px;
    height: 174px;
}
.creat{
    margin-top: 19px;

    border: 1px solid transparent;
    width: 266px;
    height: 174px;

}
.photoshop{
    margin-top: 17px;

    border: 1px solid transparent;
    width: 275px;
    height: 168px;
}
.feat h3{
    margin-top: 28px;
    margin-bottom: 18px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #0F5F5C;
}
.feat p{
    font-size: 14px;
    font-family: 'Roboto';
    color: #83A7A5;
    font-weight: 600;
    line-height: 20px;
}

.ver{
border: 1px solid transparent;
width: 3px;
height: 91px;
background: #F2F2F2;
margin-top: 31px;
}

.hori{
    border: 1px solid transparent;
width: 91px;
height: 3px;
background: #F2F2F2;
}

.feat2{
    width: 66%;
    margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-around;
font-family: 'Roboto';
}
.col1{
    width: 38%;
    margin-top: 56px;
}
.col2{
    width: 38%;
    margin-top:45px ;
}
.box{
    display: flex;
    align-items: center;
}
.feat2 h3{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #0F5F5C;
}
.feat2 p{
    padding-top: 20px;
    font-size: 14px;
    color: #83A7A5;
font-weight: 600;
}

.template{
    width: 100%;
    height: auto;
    background: #EEF1EC;
    margin-top: 127px;
}

.rr{
    margin: 0 auto;
    width: 66%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';

}
.rr p{
    font-weight: 600;
    width: 86%;
}
.rr h2{
color: #0F5F5C;
}

.res{
    margin-top: 148px;
    margin-left: 113px;
}
.res p{
margin-top: 16px;
font-size: 14px;
color: #83A7A5;
}


.align img{
    margin-top: 16px;
    margin-right: 10px;
}

.align{
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;
    color: #83A7A5;
}

.direct{
    width: 62%;
    margin: 137px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text p{
    width: 53%;
}
#p1{
    font-size: 22px;
    margin-bottom: 27px;
    line-height: 1.5;
    color: #83A7A5;
    font-family: 'Merriweather', serif;

}
#p2{
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Roboto';
    font-weight: 600;
}
.direct img{ 
    object-fit: cover;
    width: 373px;
    height: 373px;
    border-radius:200.5px;
}
.built{
    margin: 137px auto 0 auto;
    background: #EEF1EC;
    width: 100%;
}

.built img{
    padding:63px 0;
}
.builtp{
    margin: auto 0 auto 400px;
    padding: 15px 0;
}

.all{
    display: flex;
    flex: row;
    justify-content: flex-end;
    font-family: 'Roboto';
}
.all h2{
    font-size: 32px;
    padding-bottom: 16px;
    color: #0F5F5C;
}
.all p{
    font-size: 14px;
    color: #83A7A5;
    font-weight: 600;
    width: 52%;

}
.plans{
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.basic{
    border: 1px solid rgba(131,167,165,0.5);
    width: 256px;
    height: auto;
    padding: 30px 0;
}
.basic p{
    text-align: center;
}
.basic h3{
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat';
    color: #0F5F5C;
}
#parap1{
    padding-bottom: 27px;
    font-size: 15px;
    font-family: 'Roboto';
    color: #6FB048;
    font-weight: 900;
}
#parap2{
    padding-bottom: 10px;
    font-size: 14px;
    color: #0F5F5C;
    font-weight: 700;
    font-family: 'Roboto';
}
#parap{
    margin: 0 auto;
    width: 54%;
    line-height: 2;
    font-family: Roboto;
    color: #83A7A5;
    font-size: 14px;
    font-weight: 700;
}
.basic button{
    border:1px solid transparent;
    height: 43px;
    width: 141px;
    background: #6FB048;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    margin: 23px 0px;
}

.iplan{
    display: flex;
    justify-content: center;
    grid-gap: 200px;
    width: 80%;
    margin: 49px auto 58px auto;
}

.iplan1 {
    display: flex;
    grid-gap: 10px;
    flex-direction: row;
}
.img{
    display: flex;
    flex-direction: column;
}
.img img{
    padding: 8px;
}
.col p{
    font-size: 15px;
    line-height: 2.9;
    color: #83A7A5;
    font-size: 14px;
    font-weight: 600;
}


@media screen and (max-width: 900px) {
    #yourID{
        display: none;
    }
    .navbar{
        position: absolute;
    width: 232px;
    margin-left: -52px;
    background-color: black;
    }
    
    #nav-icon1 span{
        display: block;
        margin:4px 4px 4px auto;
        height: 4px;
        width:40px;
        background: #fff;
        border-radius: 9px;
    }
    .welcom p{
        width: 100%;
    }
    .feature p{
        width: unset;
    }
    .feat{
        flex-direction: column;
    }
    .feat2{
        flex-direction: column;
    }
    .col1,.col2{
        width: unset;
    }
    #anime{
display: none;   
     }
     .rr{
         width: 100%;
     }
     .res{
         margin: 10% 10%;
     }
     .direct{
         flex-direction: column-reverse;
         margin-top: 0;
     }
     .direct img{
         padding: 70px;
     }
     .text p{
         width: 100%;
     }
     #p1{
         font-size: 15px;
     }
     .built img{
         display: none;
     }
    .builtp{
        margin-left: 15%;
    }
    .all p{
        width: 80%;
    }
    .plans{
        width: 100%;
        align-items: center;
        padding: 20px;
    }
   #parap{
       width: 96%;
   }
   .plans h3 {
font-size: 35px;
   }
    .basic button{
        height: 35px;
        width: 100px;
    }
    .iplan{
        width: 80%;
        flex-direction: column;
    }

    }



                          